.btn {
	&.btn-primary {
		@extend .is-big-and-fat;
		display: flex;
		align-items: center;
		padding: 0;
		background-color: transparent;
		color: $brand-primary;
		border: 0;
		border-radius: 0;
		transition: all 0.3s ease;
		&:focus,
		&:active,
		&:hover {
			outline: none;
			border: 0;
			box-shadow: none;
		}
		&::after {
			content: '';
			display: block;
			width: 0;
			height: 30px;
			background-color: $brand-primary;
			transition: all $link-transition ease;
		}
		&.is-active {
			&::after {
				width: 20px;
				margin-left: 10px;
			}
		}
		&:hover {
			&::after {
				width: 20px;
				margin-left: 10px;
			}
		}
	}
}