.projects {
	.project {
		@extend %brand-gradient;
		height: 380px;
		overflow: hidden;
		a {
			@extend .is-big-and-fat;
			display: flex;
			align-items: center;
			padding-right: 25%;
			height: 380px;
			margin-left: -12px;
			color: $brand-gray;
			font-size: 144px;
			line-height: 109px;
		}
	}
}

zm-project {
	display: block;
	img {
		@extend .img-fluid;
	}
	header {
		@extend %brand-gradient;
		display: flex;
		align-items: center;
		justify-content: center;
		h1 {
			@extend .is-big-and-fat;
			flex-grow: 1;
			margin-bottom: 0;
			margin-left: -6px;
			padding: 35px 0;
			font-size: 72px;
			line-height: 62px;
			color: $brand-gray;
		}
	}
	.wrapper {
		@extend .row;
		padding: 80px;
		margin: 0;
	}
}