body {
	line-height: 1.5em;
	font-size: 20px;
	@media screen and (max-width: 992px) {
		font-size: 16px;
	}
	@media screen and (max-width: 480px) {
		font-size: 14px;
	}
}

h1 {
	margin-bottom: 40px;
}

 a {
 	&:focus,
 	&:active,
 	&:hover {
 		text-decoration: none;
 	}
 }
