body {
	line-height: 1.8em;
	font-size: 17px;
	@media screen and (max-width: 992px) {
		font-size: 16px;
	}
	@media screen and (max-width: 480px) {
		font-size: 14px;
	}
}

h1 {
	margin-bottom: 40px;
}

h1,
h2,
h3,
h4 {
	font-weight: 100;
}

 a {
 	&:focus,
 	&:active,
 	&:hover {
 		text-decoration: none;
 	}
 }
