zm-sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: $sidebar-width;
	height: 100vh;
	background-color: $brand-gray;
	@media screen and (max-width: 880px) {
		width: 100%;
		height: 20px;
		top: 0;
		z-index: 420;
		display: flex;
		align-items: center;
		overflow: hidden;
		background-color: #fff;
	}
	@media screen and (max-width: 640px) {
		height: 50px;
	}
	@media screen and (max-width: 480px) {
		height: 48px;
	}
	nav {
		@media screen and (max-width: 880px) {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		@media screen and (max-width: 640px) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}
	}
	.logo {
		@extend .is-big-and-fat;
		display: inline-block;
		margin-top: 5vh;
		@media screen and (max-width: 880px) {
			margin-top: 0;
		}
	}
	.social,
	.menu {
		margin-top: 10vh;
		margin-bottom: 0;
		padding: 0;
		list-style: none;
		a {
			@extend .is-big-and-fat;
			display: flex;
			align-items: center;
			&::before {
				content: '';
				display: block;
				width: 0;
				height: 30px;
				background-color: $brand-primary;
				transition: all $link-transition ease;
				@media screen and (max-width: 880px) {
					display: none;
				}
			}
			&.is-active {
				&::before {
					width: 20px;
					margin-right: 10px;
				}
			}
			&:hover {
				&::before {
					width: 20px;
					margin-right: 10px;
				}
			}
		}
	}
	.menu {
		@media screen and (max-width: 880px) {
			margin-top: 0;
			display: flex;
			li {
				margin-right: 20px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	.social {
		margin-top: 40vh;
		@media screen and (max-width: 880px) {
			display: none;
		}
	}
}