zm-blog {
	.posts {
		.post {
			@extend %brand-gradient;
			height: 250px;
			overflow: hidden;
			a {
				@extend .is-big-and-fat;
				display: flex;
				align-items: center;
				padding-right: 25%;
				height: 250px;
				margin-left: -12px;
				color: $brand-gray;
				font-size: 72px;
				line-height: 62px;
				@media screen and (max-width: 1360px) {
					margin-left: -7px;
					font-size: 64px;
					line-height: 52px;
				}
				@media screen and (max-width: 1040px) {
					font-size: 52px;
					line-height: 42px;
				}
			}
		}
	}
}

zm-post {
	header {
		time {
			@extend .is-big-and-fat;
			display: block;
			padding-bottom: 35px;
			color: rgba($brand-gray, 0.8);
		}
	}

	figure {
		max-width: 80%;
		margin: 30px auto;
	}
}