html {
	background-color: $body-bg;
}

img {
	max-width: 100%;
}

hr {
	width: 25%;
	margin: 50px auto;
	border: 0;
	border-top: 1px solid $gray-lighter;
}

time {
	color: $gray-light;
	font-size: 14px;
}

ul {

	li {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
