html {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $text-color;
	line-height: 1.5;
	font-size: 18px;
}

a {
	color: $accent-color;
	text-decoration: none;
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	font-weight: 600;
}

h2 {
	font-size: 1.8rem;
}
