<div class="profile">
	<img src="{{ 'assets/images/zach-minner_profile.jpg' | relative_url }}" alt="Zach Minner profile image" class="figure-img img-fluid rounded">
	<ul class="profile-links">
		<li class="profile-link profile-link__email">
			<a href="mailto:{{ site.email }}" target="_blank" title="Email me!"><i class="fa fa-envelope-o"></i></a>
		</li>
		<li class="profile-link profile-link__github">
			<a href="{{ site.social.github }}" target="_blank" title="Checkout my Github!"><i class="fa fa-github"></i></a>
		</li>
		<li class="profile-link profile-link__codepen">
			<a href="{{ site.social.codepen }}" target="_blank" title="Checkout my Codepen!"><i class="fa fa-codepen"></i></a>
		</li>
		<li class="profile-link profile-link__linkedin">
			<a href="{{ site.social.linkedin }}" target="_blank" title="Checkout my Linkedin!"><i class="fa fa-linkedin"></i></a>
		</li>
	</ul>
</div>
