<ul class="social-links">
	<li class="link link__email">
		<a href="mailto:{{ site.email }}" target="_blank" title="Email me!"><i class="fa fa-envelope-o"></i></a>
	</li>
	<li class="link link__github">
		<a href="{{ site.social.github }}" target="_blank" title="Checkout my Github!"><i class="fa fa-github"></i></a>
	</li>
	<li class="link link__codepen">
		<a href="{{ site.social.codepen }}" target="_blank" title="Checkout my Codepen!"><i class="fa fa-codepen"></i></a>
	</li>
	<li class="link link__linkedin">
		<a href="{{ site.social.linkedin }}" target="_blank" title="Checkout my Linkedin!"><i class="fa fa-linkedin"></i></a>
	</li>
</ul>
