.site-wrapper {
	position: relative;
	display: flex;
	min-height: 100vh;
}

main {
	flex-grow: 1;
	width: calc(100% - #{$sidebar-width});
	padding-left: $sidebar-width;
	@media screen and (max-width: 880px) {
		width: 100%;
		padding-top: 20px;
		padding-left: 0;
	}
	@media screen and (max-width: 640px) {
		padding-top: 50px;
	}
	@media screen and (max-width: 480px) {
		padding-top: 48px;
	}
}