$font-family-sans-serif: 'Open Sans', sans-serif;

$brand-primary: #0D47A1;
$brand-gray: #f6f6f6;

$text-color: #6A6868;

$sky-primary: #695B8E;
$github-primary: #000000;
$codepen-primary: #333333;
$linkedin-primary: #1E88BD;

$breadcrumb-bg: $brand-primary;
$breadcrumb-divider-color: #fff;
$breadcrumb-divider: '|';

$sidebar-width: 300px;
$link-transition: 0.5s;