$font-family-sans-serif: 'Open Sans', sans-serif;

$brand-primary: #48639F;

$sky-primary: #695B8E;
$github-primary: #000000;
$codepen-primary: #333333;
$linkedin-primary: #1E88BD;

$brand-gray: #F0F0F0;
