// ==========================================================================
// BACKGROUNDS
// ==========================================================================
.bg-gradient-radial {
  background: radial-gradient(circle, $secondary 0%, $primary 100%);
}

// ==========================================================================
// HOVER COLORS
// ==========================================================================
@each $color, $value in $theme-colors {
  .hover-text-#{$color} {
    transition: color 0.3s;

    &:hover {
      color: $value !important;
    }
  }
}
