/*! purgecss start ignore */
@tailwind base;
/*! purgecss end ignore */

@tailwind components;

@tailwind utilities;

.gatsby-highlight {
  background-color: #fdf6e3;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

.gatsby-highlight pre[class*='language-'].line-numbers {
  padding: 0;
  padding-left: 2.8em;
  overflow: initial;
}
