<form
	novalidate
	name="contact"
	ng-submit="$ctrl.submit();"
	class="form">
	<div class="form-group">
		<label for="full-name">Name</label>
		<input type="text" name="name" id="full-name" ng-model="$ctrl.data.name" required="required" disabled>
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" name="email" id="email" ng-model="$ctrl.data.email" required="required" disabled>
	</div>
	<div class="form-group">
		<label for="message">Message</label>
		<textarea id="message" name="message" ng-model="$ctrl.data.message" required="required" disabled></textarea>
	</div>
	<input type="submit" class="btn btn-primary" disabled>
</form>