<div class="contact page">
	<header>
		<h1>
			Contact
		</h1>
	</header>

	<div class="wrapper">
		<div class="col-sm-6">
			<p>I spend my days using JavaScript and PHP to build websites and web applications for the awesome, award-winning <a href="http://skycatchfire.com" title="SKYCATCHFIRE" target="_blank">SKYCATCHFIRE</a>.</p>

			<p>In my free time, I like to contribute to open-source projects, browse CSS Tricks, and teach myself even more about the web and programming.</p>

			<p>You can get in touch with me via <a href="mailto:1forhlol@gmail.com" title="email">email</a> or check out <a href="https://github.com/1forh" title="GitHub" targe="_blank">GitHub</a>, <a href="https://www.linkedin.com/in/zachary-minner-87737111" title="LinkedIn" target="_blank">LinkedIn</a>, or <a href="http://codepen.io/1forh" title="CodePen">CodePen</a> to learn more about me.</p>
		</div>
		<div class="col-sm-6">
			<zm-form></zm-form>
		</div>
	</div>
</div>