<div class="container">
	<div class="row">
		<div class="col-sm-7">
			<h1>Contact</h1>
			<div>
				<a href="mailto:1forhlol@gmail.com" title="email">Email</a>
				<a href="https://github.com/1forh" title="Github" target="_blank">Github</a>
				<a href="http://codepen.io/1forh" title="CodePen" target="_blank">CodePen</a>
				<a href="https://www.linkedin.com/in/zachary-minner-877371118" title="LinkedIn" target="_blank">LinkedIn</a>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam consectetur omnis impedit, obcaecati architecto assumenda illum voluptatum sed, natus eveniet ipsam aut nulla quam quidem et necessitatibus tempora porro similique?</p>
		</div>
		<div class="col-sm-5">
			<zm-form></zm-form>
		</div>
	</div>
</div>
