body {
	background-color: rgba($gray-light, 0.1);
}

main {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	@media screen and(max-width: 767px) {
		padding: 0 20px;
	}
}
