blockquote {
	width: 45%;
	margin: 1rem auto 0;
	color: $brand-dark-gray;
	font-size: 0.75rem;
	text-align: left;
	.quote {
		position: relative;
		padding-left: 40px;
		border-left: 4px solid $brand-gray;
		&::before {
			content: '';
			position: absolute;
			top: -10px;
			left: 10px;
			width: 20px;
			height: 20px;
			background-image: url('../assets/images/left-quote.svg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
		span {
			margin-top: 5px;
			display: block;
		}
	}
	footer {
		margin-top: 10px;
		padding-left: 10px;
		font-weight: 700;
		color: $base-font-color;
	}
}
