.link {
	background-color: #fff;
	margin: 0 2px;
	padding: 0 5px;
	&__skycatchfire {
		color: $sky-primary;
		transition: all 0.2s ease-in;
		&:hover {
			color: #fff;
			background-color: $sky-primary;
		}
	}
	&__github {
		color: $github-primary;
		transition: all 0.2s ease-in;
		&:hover {
			color: #fff;
			background-color: $github-primary;
		}
	}
	&__codepen {
		color: $codepen-primary;
		transition: all 0.2s ease-in;
		&:hover {
			color: #fff;
			background-color: $codepen-primary;
		}
	}
	&__linkedin {
		color: $linkedin-primary;
		transition: all 0.2s ease-in;
		&:hover {
			color: #fff;
			background-color: $linkedin-primary;
		}
	}
}
