.social-links {
	margin-top: 30px;
	a {
		margin-right: 15px;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
		&:last-child {
			margin-right: 0;
		}
		i {
			font-size: 28px;
			transition: color 0.3s ease;
			&:hover {
				color: $brand-primary;
			}
			&.fa-linkedin {
				color: #1E88BD;
			}
			&.fa-github {
				color: #000000;
			}
			&.fa-codepen {
				color: #333333;
			}
		}
	}
}
