// colors
$accent-color: #07DA26;

$gray-lighter: #E5E5E5;
$gray-light: #A5A5A5;
$gray: #333333;

$body-bg: #FDFDFD;

$text-color: #333333;

// sizes
$site-header-height: 75px;
$site-footer-height: 100px;

// grid
$grid-gutter-width: 30px;
$container-max-width: 1140px;
