<div class="container">

	<div class="row">
		<h1>Hi, I'm Zach Minner.</h1>
		<p>I'm a front-end web developer in Canton, Ohio. I work at <a href="http://skycatchfire.com" title="SKYCATCHFIRE" target="_blank" class="link link__skycatchfire">SKYCATCHFIRE</a>! I build and maintain websites and web applications written in JavaScript and PHP.</p>
		<p>Some of the tools I use are AngularJS, Drupal 7, and Shopify.</p>
		<p>You can learn more about me on <a href="https://github.com/1forh" title="Github" target="_blank" class="link link__github">Github</a>, <a href="http://codepen.io/1forh" title="CodePen" target="_blank" class="link link__codepen">CodePen</a>, and <a href="https://www.linkedin.com/in/zachary-minner-877371118" title="LinkedIn" target="_blank" class="link link__linkedin">LinkedIn</a>.</p>
	</div>

</div>
